{{ title }}
<br>
<br>
<br>

The question is: {{questionInfo?.question}}
<br>
<br>
The question point value: {{questionInfo?.value}}
<br>
<br>
The category: {{questionInfo?.category.title}}
<br>
<br>
<div> 
  Enter a Response to the Question: <input [(ngModel)]="userResponse" type="text">
</div>
<br>
<br>
<div *ngIf= "userResponse">
  <h1>Answer from game: {{questionInfo?.answer}}</h1>
</div>
<br>
<br>
<div>Player Answer: {{userResponse}}</div>
<br>
<br>
<div>Total Score: {{ playerTotalScore}}</div>
<br>
<br>
<div style="text-align:center">
  <button (click)="buttonClicked()">Guess</button>
</div>
<br>
<br>
<br>
<div style="text-align:center">
  <button (click)="getNextQuestion()">Get Next Question</button>
</div>


