{{ title }}
<br>
<br>
<br>

The question is: {{questionInfo?.question}}
<br>
<br>
The question point value: {{questionInfo?.value}}
<br>
<br>
The category: {{questionInfo?.category.title}}
<br>

<br>
<div *ngIf= "userResponse">
  <h1>Answer from game: {{questionInfo?.answer}}</h1>
</div>
<br>
<br>
<div>Player Answer: {{userResponse}}</div>
<br>
<br>
<div>Total Score: {{ scoreKeeper.playerTotalScore }}</div>
<br>
<br>

<app-score-game #scoreKeeper (answerHasBeenScored)="getDataFromService()" [questionInfo]="questionInfo"></app-score-game>


